@tailwind base;
@tailwind components;
@tailwind utilities;


*::-webkit-scrollbar {
    height: 0px;
    width: 0px;
  }

  .gradient-text {
    background-clip: text;
    -webkit-background-clip: text; /* For Safari compatibility */
    -webkit-text-fill-color: transparent; /* Removes default text color */
    background-image: linear-gradient(to right, #f44336, #ffefe6); /* Adjust colors as desired */
  }
  